body, html {
  height: 100%;
  margin: 0;
  color: #000;
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
}
.container{
	width: 1026px;
	margin:0 auto;
	margin-top:90px;
}
.tile{
	width:24%;
	display: inline-block;
	background:#fff;
	margin-left:4px;
	margin-top:28px;
	min-height: 240px;
	border-radius: 5px;
	box-sizing: border-box;
    cursor: pointer;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: -webkit-transform,box-shadow;
    transition-property: transform,box-shadow;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.tile:hover{
	-webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    box-shadow: 0 20px 25px rgba(0,0,0,.15);
}
a.price-circle{
	position:absolute;
	left:6%;
	top:6%;
	border-radius: 50%;
	width:42px;
	height:42px;
	background:#00a000;
	text-align: center;
	line-height: 42px;
	color:#fff;
}
.tile img{
	display: block;
	margin: auto;
	max-height: 160px;
    margin-top: 32px;
}